* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #101018;
  color: #f5f5f5;
  font-family: Georgia, serif;
}

header {
  padding: 25px 8% 70px;
 
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h2 {
  font-size: 30px;
}

nav span {
  color: #d4f755;
}

nav a {
  color: white;
  text-decoration: none;
  border: 1px solid #f5f5f5;
  padding: 8px 18px;
  border-radius: 25px;
}

.hero {
  display: flex;
  align-items: center;
  gap: 70px;
  margin-top: 70px;
}

.photo-card {
  background: white;
  padding: 12px;
  box-shadow: 0 15px 40px #000;
}

.photo-card img {
  width: 280px;
  height: 350px;
  object-fit: cover;
  display: block;
}

.hello {
  color:#f5f5f5;
  font-size: 20px;
}

.hero-text h1 {
  font-size: 55px;
  margin: 10px 0;
}

.hero-text h3 {
  color: #c084fc;
  margin-bottom: 18px;
}

.hero-text p {
  max-width: 560px;
  line-height: 1.8;
  color: #ddd;
}

.buttons {
  margin-top: 25px;
}

.buttons a {
  background: #9333ea;
  color: white;
  text-decoration: none;
  padding: 12px 22px;
  border-radius: 8px;
  margin-right: 10px;
  display: inline-block;
}

.buttons .light {
  background: transparent;
  border: 1px solid #9333ea;
}

section {
  padding: 65px 8%;
}

h2 {
  font-size: 34px;
  margin-bottom: 22px;
  color: #e9d5ff;
}

.about p,
.contact p {
  line-height: 1.8;
  max-width: 800px;
  color: #ddd;
}

.skill-box {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.skill-box span {
  padding: 10px 18px;
  border: 1px solid #a855f7;
  border-radius: 20px;
  background: #181825;
}

.project-container {
  display: flex;
  gap: 22px;
  flex-wrap: wrap;
}

.project-card {
  background: #181825;
  width: 300px;
  padding: 25px;
  border-radius: 16px;
  border: 1px solid #2d2d40;
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-8px);
  border-color: #a855f7;
}

.project-card h3 {
  color: #c084fc;
  margin-bottom: 12px;
}

.project-card p {
  color: #ccc;
  line-height: 1.6;
  margin-bottom: 15px;
}

.project-card small {
  color: #facc15;
}

.project-card a,
.project-card a:visited {
  color: #0066ff;
  font-weight: bold;
}

.project-card a:hover {
  color: #00d4ff;
}
.line {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.line div {
  background: #181825;
  padding: 20px;
  border-left: 4px solid #a855f7;
  width: 240px;
  border-radius: 10px;
}

.line b {
  color: #c084fc;
}

footer {
  text-align: center;
  padding: 20px;
  background: #09090f;
  color: #aaa;
}

@media (max-width: 800px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 38px;
  }

  .photo-card img {
    width: 230px;
    height: 300px;
  }
}